

ul{
    list-style: none;
}
.expander{
    border: 1px solid lightgray;
    padding-top:.5rem;
    padding-left:.5rem;
    padding-right: .5rem;
    border-radius:.25rem;
}
.expand-button{
    float: right;
    margin-top: 0px;
}
.favorite-button{
    float: left;
    margin-top: 0px;
}