.jumbotron {
    min-height: 300px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
  }
  
  .google-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
   
  }
  .google-R { 
    color:#4485f2; 
  }
  .google-o1 { 
    color:#e94335; 
  }
  .google-o2 { 
    color:#f9ba16; 
  }
  .google-g { 
    color:#4485f2; 
  }
  .google-l { 
    color:#31a754; 
  }
  .google-e { 
    color:#e94335; 
  }
  button {
    font-size: 16px;
  }